annotated-types==0.7.0
attrs==24.3.0
babel==2.16.0
barcode==1.0.4
brother-ql==0.9.4
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
defusedxml==0.7.1
dicttoxml==1.7.16
future==1.0.0
idna==3.10
jamf-pro-sdk==0.7a1
Levenshtein==0.26.1
packbits==0.6
pillow==11.0.0
pydantic==2.10.4
pydantic_core==2.27.2
python-barcode==0.15.1
python-Levenshtein==0.26.1
pyusb==1.2.1
RapidFuzz==3.11.0
requests==2.32.3
setuptools==75.6.0
tkcalendar==1.6.1
typing_extensions==4.12.2
urllib3==2.3.0
