aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
attrs==24.3.0
babel==2.16.0
barcode==1.0.4
bcrypt==4.3.0
brother-ql==0.9.4
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==45.0.6
defusedxml==0.7.1
dicttoxml==1.7.16
frozenlist==1.7.0
future==1.0.0
idna==3.10
invoke==2.2.0
jamf-pro-sdk==0.7a1
Levenshtein==0.26.1
multidict==6.6.4
packbits==0.6
paramiko==4.0.0
pillow==11.0.0
propcache==0.3.2
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
PyJWT==2.10.1
PyNaCl==1.5.0
python-barcode==0.15.1
python-Levenshtein==0.26.1
pyusb==1.2.1
RapidFuzz==3.11.0
requests==2.32.3
setuptools==75.6.0
tkcalendar==1.6.1
twilio==9.7.1
typing_extensions==4.12.2
urllib3==2.3.0
yarl==1.20.1
