API_Key = ""
tech_email_info = [“EMAIL ADDRESS, “PASSWORD”]
operations_email = “EMAIL ADDRESS”
support_email = “EMAIL “ADDRESS
printer_ip = 'tcp://IPADDR:9100'
API_URL_Base = "https://ASSET API”
jamfClientID = “CLIENTID”
jamfClientSecret = “CLIENTSECRET”
testEmail = “TEST EMAIL”